body{
    background-color: rgba(240, 222, 187, 0.2);
    color: rgb(33, 26, 20);

    padding-right: 25px;
    margin-right: 15%;
    border-right: double;

    padding-left: 25px;
    margin-left: 15%;
    border-left: double;

    padding-bottom: 10px;
    margin-bottom:10px;
}

#title{
    font-size: 60px;
    text-align: center;
    color: rgb(35, 80, 119);
}

nav{
    text-align: center;
}

a{
    font-size: 30px;
    text-decoration: none;
    color:rgba(35, 80, 119, 0.6);
}

a:hover{
    text-decoration: none;
    color: rgb(35, 80, 119);
}

#back-btn{
    background-color: rgb(255, 126, 117);
    border: none;
    float: left;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin-top: 24px;
    margin-right: 10px; 
}

.memeory-game{
    display: flexbox;
    flex-wrap: wrap;
}

.actions {
    display: flex;
    justify-content: center;
}

.actions button {
    background-color: rgba(137, 176, 155, 1);
    border: none;
    float: left;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 24px;
    margin-right: 10px; 
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-gap: 12px;
  grid-template-columns: repeat(6, 140px);
  grid-template-rows: repeat(2, calc(140px / 2 * 3));
}

.card {
  height: calc(140px / 2 * 3);
  width: 140px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}

.front-image {
  width: 140px;
  height: 190px;
}

.card.flipped {
  transform: rotateY(180deg);
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.card .front {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .back {
  background-color: rgb(35, 80, 119);
  background-position: center center;
  background-size: cover;
  backface-visibility: hidden;
}

.card .front {
  transform: rotateY(180deg);
}