body{
    background-color: rgba(240, 222, 187, 0.2);
    color: rgb(33, 26, 20);

    padding-right: 25px;
    margin-right: 15%;
    border-right: double;

    padding-left: 25px;
    margin-left: 15%;
    border-left: double;

    padding-bottom: 10px;
    margin-bottom:10px;
}

#title{
    font-size: 60px;
    text-align: center;
    color: rgb(35, 80, 119);
}

nav{
    text-align: center;
}

a{
    font-size: 30px;
    text-decoration: none;
    color:rgba(35, 80, 119, 0.6);
}

a:hover{
    text-decoration: none;
    color: rgb(35, 80, 119);
}

#would_you_rather_app{
    width: 90%;
    height: 100%;
    max-width: 800px;
    max-height: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(242, 201, 148, 1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#question-container {
    margin-bottom: 20px;
}

#question {
    font-size: 24px;
    margin-bottom: 10px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
}

#controls {
  justify-content: center;
  margin-top: 20px;
}

#controls.show {
  display: flex;
}

#start-btn, #next-btn {
  padding: 10px 20px;
  background-color: rgba(35, 80, 119, 0.6);
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#start-btn:hover, #next-btn:hover {
  background-color: rgba(35, 80, 119, 1);
}

.hide {
  display: none;
}

.correct {
  background-color: rgb(107, 112, 92);
  color: white;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-left: 10px; 
}

.wrong {
  background-color: rgb(211, 61, 61);
  color: white;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-left: 10px; 
}

fade-in {
    animation: fadeIn 0.5s ease-in-out;
}
  
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#back-btn{
    background-color: rgb(255, 126, 117);
    border: none;
    float: left;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin-top: 24px;
    margin-right: 10px; 
  }